*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  

}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.352) ,rgba(0, 0, 0, 0.676) ), url(blue.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
.container{
     width: 100%;
    height: 100vh; 
    box-sizing: border-box;
    padding: 0 10%;
    color: white;
}
.navbar{
    
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.navbar li{
    margin: center;

}
.Logo{
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 10px;
    
    

}
.Logo:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.bi{
    font-size: 50px;
    cursor: pointer;
    margin-right: 30px;
    display: none;
    }

.bi:hover{
    transform: scale(1,2);
    transition: .3s;
}

nav{
    
    flex: 1;
    text-align: right;

}
nav ul li{
    list-style: none;
display: inline-block;
margin-left: 20px;


}
nav ul li a{
text-decoration: none; 
font-size: 20px;
position: relative;
color: rgb(255, 255, 255);
position: relative;
}

nav ul li a::after{
    content:'';
    height: 5px;
    border-radius: 10px;
    width: 0%;
    background-color: rgb(5, 93, 116);
    bottom: -4px;
    left: 0;
    position: absolute;

}
nav ul li a:hover::after{
width: 100%;
transition: .3s;

}
.row{
    
    display: flex;
    height: 90%;

}

.col{
    flex-basis: 50%;
    margin-top: 20px;

}
h1{
    font-size: 80px;

}
p{
    font-size: 15px;
    line-height: 20px;

}
button{
    color: black;
    font-size: 15px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.352);
    border: solid rgb(0, 95, 135) 2px;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    color: rgb(138, 188, 230);
}
button:hover{
    background-color: rgb(0, 95, 135);
    border: none;
    color: white;
    transition: 0.3s;
    font-size: 16px;
    
}

.card{
    width: 200px;
    height: 250px;
    background-color: wheat;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-image: url(underwater.jpg);
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform .5s;

}
.card:hover{
    transform: translateY(-10px);

}

.card p, h2 {
   text-shadow: 0 0 10px black;
   text-indent: 2px;
   padding: 5px;

}

 @media (max-width:760px) {
    nav{
        display: none;   
    }
    .bi{
        display:block ;
               
    } 
    .row{
        display: block;

    }
 }
@media (max-width:845px){
    .card{
        width: 160px;
        
    }
} 
 
     
    


